{
  "tabWidth": 4,
  "printWidth": 150,
  "proseWrap": "never",
  "eslintIntegration": true,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "endOfLine": "auto"
}
